// Main SCSS

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: $color-background url('/dist/assets/images/scene/background.png') 0 0 no-repeat;
    background-size: cover;
}

#paradigma-capital,
.main-wrapper {
    height: 100%;
    width: 100%;
    z-index: $zindex-main-wrapper;
}

.main-wrapper {
    margin: 0 auto;
    max-width: $size-max-width;
    position: relative;
}

#main {
    bottom: 0;
    left: 0;
    position: absolute;
}

.main-section {
    padding: 0 0 80px 20px;
    max-width: $size-mainsection-max-width;

    &-title {
        @extend .title-main;

        margin-bottom: 20px;
    }
}

@import 'nav';
@import 'scene';
@import 'page-index';