// Typography

// Vars

$font-family: 'Source Code Pro', monospace;
$font-family-titles: 'Source Serif Pro', serif;

$font-regular: 300;
$font-bold: 700;
$font-regular-titles: 400;
$font-bold-titles: 600;

// Classes

.font-family {
  font-family: $font-family;
  font-weight: $font-regular;
}

.font-family-titles {
  font-family: $font-family-titles;
  font-weight: $font-bold-titles;
}

// Titles

.title-main {
  @extend .font-family-titles;

  font-size: 2.4rem;
  line-height: 1.2;
}

.title-tiny {
  @extend .font-family-titles;

  font-size: 1.5rem;
  line-height: 1.2;
}

// Text

.text-big {
  font-size: 1.15rem;
  line-height: 1.6;
}

.text-main {
  font-size: 1rem;
  line-height: 1;
}

//

html {
  font-size: 14px;
}

body {
  @extend .font-family;

  color: $color-white;
  font-size: 1rem;
  line-height: 1.8;
  text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6 {
  @extend .font-family-titles;
}

input, button {
  @extend .font-family;
}
